# Para web en la misma computadora puedes usar localhost.
# Para iPhone físico debes usar la IPv4 de tu computadora.
# Ejemplo:
# EXPO_PUBLIC_AUTH_API_URL=http://192.168.0.19:3006/gestionurbana/v1
# EXPO_PUBLIC_REPORT_API_URL=http://192.168.0.19:3007/gestionurbana/v1

EXPO_PUBLIC_AUTH_API_URL=http://TU_IPV4_LOCAL:3006/gestionurbana/v1
EXPO_PUBLIC_REPORT_API_URL=http://TU_IPV4_LOCAL:3007/gestionurbana/v1